._tr {
  position: absolute;
  z-index: 10000;
  background: white;
  font-family: "Georgia", serif;
  color: black;
  border: 2px solid black;
  width: 40%;
  padding: .5em;
  font-size: 14px;
}

._tr_clarification {
  font-style: italic;
}

._tr_quit {
  position: absolute;
  right: 3px;
  top: 0px;
}

._tr_quit_container {
  clear: both;
  text-align: right;
}

._tr_header {
  font-weight: bold;
  margin-bottom: .5em;
}

._tr_header a {
  color: #016CA2;
  font-size: 11px;
  font-weight: normal;
}

._tr_header a:hover {
  color: black;
}

._tr_body {
  clear: both;
  margin-bottom: .5em;
}

._tr_body li {
  list-style: none;
}

._tr_translate {
  color: #016CA2;
  display: block;
  text-decoration: underline;
}

._tr_translate:hover {
  cursor: pointer;
}

._tr_clear {
  clear: both;
}

._tr_part_of_speech {
  font-style: italic;
}

._tr_error {
  color: red;
}

._tr_list_toggle {
  display: none;
}

._tr_vocab_list_word ._tr_list_toggle {
  display: inline;
}