._traductor {
  position: absolute;
  z-index: 10000;
  background: white;
  font-family: "Georgia", serif;
  color: black;
  border: 2px solid black;
  width: 40%;
  padding: .5em;
  font-size: 14px;
}

._traductor_clarification {
  font-style: italic;
}

._traductor_quit {
  position: absolute;
  right: 3px;
  top: 0px;
}

._traductor_quit_container {
  clear: both;
  text-align: right;
}

._traductor_header {
  font-weight: bold;
  margin-bottom: .5em;
}

._traductor_header a {
  color: #016CA2;
  font-size: 11px;
  font-weight: normal;
}

._traductor_header a:hover {
  color: black;
}

._traductor_body {
  clear: both;
  margin-bottom: .5em;
}

._traductor_body li {
  list-style: none;
}

._traductor_translate {
  color: #016CA2;
  display: block;
  text-decoration: underline;
}

._traductor_translate:hover {
  cursor: pointer;
}

._traductor_clear {
  clear: both;
}

._traductor_part_of_speech {
  font-style: italic;
}