<!-- 
variables:
    - term
    - list_toggle
    - outside_link
    - wr_url
-->
<div class="_traductor"> 
    <div class="_traductor_quit_container">
        <span class="_traductor_quit">
            x
        </span>
    </div> 
    <div class="_traductor_header">
        <span class="_traductor_term">
            <%= term  %>
        </span>
        <a href="<%= wr_url %>" target="_blank"> 
            (WordReference def.)
        </a>
    </div> 
    <div class="_traductor_body"> 
        <span class="_traductor_translate">
            Get Definition
        </span> 
    </div>
    <div class="_traductor_clear"></div> 
    <button class="_traductor_list_toggle">
        <%= list_toggle %>
    </button> 
    <div class="_traductor_clear"></div> 
    <div class="_traductor_outside_link">
        <%= outside_link %>
    </div> 
    <hr/>
    <div class="_traductor_ultralingua">
        Data by <a href="http://www.Ultralingua.com">Ultralingua</a>  
    </div>
</div>
