<div class="_tr"> 
    <div class="_tr_quit_container">
        <span class="_tr_quit">
            x
        </span>
    </div> 
    <div class="_tr_header">
        <span class="_tr_term">
            <%= term  %>
        </span>
        <a href="<%= wr_url %>" target="_blank"> 
            (WordReference def.)
        </a>
    </div> 
    <div class="_tr_body"> 
        <span class="_tr_translate">
            Get Definition
        </span> 
    </div>
    <div class="_tr_clear"></div> 
    <button class="_tr_list_toggle">
        <%= list_toggle %>
    </button> 
    <div class="_tr_clear"></div> 
    <hr/>
    <div class="_tr_ultralingua">
        Data by <a href="http://www.Ultralingua.com">Ultralingua</a>  
    </div>
</div>
