<% _.each(definitions, function(definition){ %>
  <li class="_tr_definition"> 
    <span class="_tr_part_of_speech">
      <%= definition.partofspeech %>.
    </span>
    <span class="_tr_clarifications">
      <% _.each(definition.clarifications, function(c) { %>
        <span class="_tr_clarification">
          (<%= c %>)
        </span>
      <% }); %>
    </span> 
    <span class="_tr_definition">  
      <%= definition.text %>
    </span> 
    <span class="_tr_remove">
    </span>
  </li>
<% }); %>
